html
  head
    meta(charset='UTF-8')
    title Match
    style
      include ../style/styles.css
    script(type='text/javascript', src='functions.js')
    //https://www.youtube.com/watch?v=kt3cEjjkCZA&t=1347s
    //https://www.youtube.com/watch?v=l5AXcXAP4r8
  body
    header
      |  Welkom #{data[0].name}
      h1 Match
      section(style='max-width: 25em; margin: auto; width: 60%; border: 0.3em aliceblue outset; border-radius: 1em;')
        img.image(src=data[0].img)
        //profiel foto
        h2 #{data[0].name}, #{data[0].age}
        // naam, leeftijd persoon
        h2 #{data[0].beer}
        // favoriete biertje
        h3 #{data[0].city}
        // Welke stad komt de persoon vandaan
        a.left(href='2')
          img.image(src='./static/x.png' style='width:25%')
          p Add
          
        // toevoegen als connectie
        a.right(href='/' + '#data[0] + 1')
          img.image(src='./static/x.png' style='width:25%')
          p Skip
        // liever een ander persoon
