html
  head
    meta(charset='UTF-8')
    title Match
    style
      include header.pug
    script(type='text/javascript', src='functions.js')
    //https://www.youtube.com/watch?v=kt3cEjjkCZA&t=1347s
    //https://www.youtube.com/watch?v=l5AXcXAP4r8
  body
    header
      //Every user found
      h1 Users found: #{data.length}
      h1 Filter users ((Ipa, Pils, Fruit, Tripel), (Age) en (locatie))
      section(class='container')
        - for(let i = 0; i < data.length; i++) {
        section(class='items')
          img.image(src=data[i].img)
          // Profile picture
          h2 #{data[i].name}, #{data[i].age}
          // name, age
          h2 #{data[i].beer}, #{data[i].city} 
          // Favorite beer, City
          a(href='2')
            img.heart(src='./static/logo.png')
        - }