html
  head
    meta(charset='UTF-8')
    title Match
    style
      include header.pug
    script(type='text/javascript', src='functions.js')
    //https://www.youtube.com/watch?v=kt3cEjjkCZA&t=1347s
    //https://www.youtube.com/watch?v=l5AXcXAP4r8
  body
    header
      |  Welkom *username*
      h1 Users found: #{data.length}
      section(class='container')
        - for(let i = 0; i < data.length; i++) {
        section(class='items')
          img.image(src=data[i].img)
          //profiel foto
          h2 #{data[i].name}, #{data[i].age}
          // naam, leeftijd persoon
          h2 #{data[i].beer}, #{data[i].city} 
          // favoriete biertje en welke stad komt de persoon vandaan
          a(href='2')
            img.heart(src='./static/heart.png')
        - }